# přesměrování z HTTP na HTTPS
	RewriteCond %{HTTPS} =off
	RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

	# soubory začínající tečkou není možné zobrazit v prohlížeči
	RewriteRule /\.|^\. - [F]

	# non www -> www - CZ
	RewriteEngine on
	RewriteCond %{HTTP_HOST} ^webscience.cz.test [NC]
	RewriteRule ^(.*)$ https://www.webscience.cz.test/$1 [L,R=301]

	RewriteCond %{HTTP_HOST} ^webscience\.cz\.test [NC]
	RewriteRule ^(.*)$ https://%{HTTP_HOST}/konference [R=301,L]